@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");

img {
  max-width: 100%;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
	display: flex;
}

body, h1, h2, h3, p {
	font-family: "Helvetica Neue", Arial, 
	"SFMono-Regular", monospace, sans-serif;
}

a {
	color: #646464;
}

a:hover {
	color: #579aca;
}
body {
	font-size: 16px;
	margin: 8px;
}

@media (min-width: 2500px) {
	body {
    font-size: 1.25em;
  }
}

@media (min-width: 3000px) {
	body {
    font-size: 1.5em;
  }
}









    

